#############
#  general  #
#############

alias m="make"
alias tm="tmux -u -2"
alias lla="ls -la"

alias vsc="vscode . & disown"

alias gitrmbranches="git fetch --prune && git branch -r | awk '{print $1}' | egrep -v -f /dev/fd/0 <(git branch -vv | grep origin) | awk '{print $1}' | xargs git branch -d"

##########
# docker #
##########

# lighter docker ps
alias dps="docker ps -a --format 'table{{.Names}}\t{{.Status}}'"

# remove containers
alias drm="docker ps -qa | xargs -r docker rm"

# remove volumes
alias dvrm="docker volume ls -qf dangling=true | xargs -r docker volume rm"

# remove images
alias drmi="docker images -q --filter dangling=true | xargs -r docker rmi"

# kill'em all
alias dka="docker ps -aq | xargs -r docker rm -f"

alias k=kubectl
